.player_1 {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(14, 15px);
}

.userCard > img {

  --card-width: 10vh;

  width: var(--card-width);
  height: calc(var(--card-width) * 1.5);

  box-shadow: 2px 2px 2px 2px #00000077;
  border-radius: 5px;
}

.player_2 {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(14, 15px);
  /* transform: rotate(180deg); */
}

.player_3 {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(14, 15px);
  transform: rotate(90deg);
}

.player_4 {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(14, 15px);
  transform: rotate(90deg);
}